# Xcode
*.xcuserdatad
*.lock
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
*.opensdf
*.opendb

# macOS
.DS_Store

# Windows system files
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Unreal Engine for Windows
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
*.opensdf
*.opendb
*.pdb
*.sdf
*.suo
*.user
*.userosscache
*.sln
*.sln.docstates
